<?xml version="1.0" encoding="UTF-8"?>
<!-- 一键生成 MSI 安装包：需先安装 WiX Toolset (https://wixtoolset.org/) -->
<!-- 用法（在 publish_<proj> 目录执行）：
     "%WIX%\bin\heat.exe" dir "." -gg -sfrag -sreg -srd -scom -dr INSTALLFOLDER -cg MainComponents -var var.SourceDir -out files.wxs
     "%WIX%\bin\candle.exe" -dSourceDir=. product.wxs files.wxs
     "%WIX%\bin\light.exe" -ext WixUIExtension -out "<工程名>_Setup.msi" product.wxs files.wxs
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="古建景点打卡" Language="2052" Version="2.0.0" Manufacturer="小七" UpgradeCode="{C3D4E5F6-0003-4000-8000-000000000003}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="已安装更高版本。" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="app.ico" />
    <Feature Id="ProductFeature" Title="主程序" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="古建景点打卡">
          <!-- heat 生成的组件会挂到此处 -->
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="古建景点打卡"/>
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
    <Component Id="StartMenuShortcut" Guid="{C3D4E5F6-0004-4000-8000-000000000004}" Directory="ApplicationProgramsFolder">
      <Shortcut Id="AppShortcut" Name="古建景点打卡" Target="[INSTALLFOLDER]古建景点打卡.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" IconIndex="0" />
      <RemoveFolder Id="CleanMenuDir" Directory="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\小七\古建景点打卡" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Component Id="DesktopShortcut" Guid="{C3D4E5F6-000C-4000-8000-00000000000C}" Directory="DesktopFolder">
      <Shortcut Id="DesktopAppShortcut" Name="古建景点打卡" Target="[INSTALLFOLDER]古建景点打卡.exe" WorkingDirectory="INSTALLFOLDER" Icon="AppIcon" IconIndex="0" />
      <RegistryValue Root="HKCU" Key="Software\小七\古建景点打卡" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Feature Id="ShortcutFeature" Title="开始菜单与桌面快捷方式" Level="1">
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  </Product>
</Wix>
